#third-section + #fourth-section {
    margin-top: 68%;
}

#fourth-section {
    height: 55em;
    background-color: #075500;
}

#fourth-section h1 {
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    float: right;
    font-style: normal;
    font-size: 70px;
    line-height: 91px;
    text-align: center;
    width: 50%;
    margin-top: 5%;
}

#fourth-section h2 {
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    width: 40%;
    position: absolute;
    right: 5%;
    line-height: 30px;
    margin-top: 30%;
    font-size: 26px;
    text-align: center;
}

.yellow-color {
    color: yellow;
}

.foods {
    width: 50%;
}

#fourth-section h3 {
    font-family: 'Montserrat';
    font-weight: bold;
    position: absolute;
    right: 22.3%;
    top: 440%;
    color: white;
}

/*Causas 2*/

.causes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#fifth-section img {
    width: 40%; 
}

.paragraphy {
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 39px;
    text-align: center;
    margin: 49px;
}

#fifth-section h3 {
    font-family: 'Montserrat';
    font-weight: bold;
    left: 20.4%;
}
.font-causes{
    font-size: 13px;
    margin: 5% 0 0 42%;
    position: absolute;
    color: rgb(145, 146, 148);
}