#third-section + #fourth-section {
    margin-top: 68%;
}

#fourth-section {
    height: 55em;
    background-color: #075500;
}

#fourth-section h1 {
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    float: right;
    font-style: normal;
    font-size: 70px;
    line-height: 91px;
    text-align: center;
    margin-top: 11%;
    margin-bottom: 100px;
}

#fourth-section h2 {
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    line-height: 30px;
    font-size: 26px;
    text-align: center;
    margin: 20%;
}

.yellow-color {
    color: yellow;
}

.foods {
    width: 50%;
}

#fourth-section h3 {
    font-family: 'Montserrat';
    font-weight: bold;
    position: absolute;
    right: 22.3%;
    top: 420%;
    color: white;
}

/*Causas 2*/

.causes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#fifth-section img {
    width: 85%; 
}

.paragraphy {
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 39px;
    text-align: center;
    margin: 49px;
    margin-left: 3.5em;
}

#fifth-section h3 {
    font-family: 'Montserrat';
    font-weight: bold;
    left: 20.4%;
    position: absolute;
    top: 490%;
}
.font-causes{
    font-size: 13px;
    margin: 5% 0 0 46%;
    position: absolute;
    color: rgb(145, 146, 148);
}
.foto{
    width:2000px;
}
  